<tr>
  <td>
    <%= image_tag product.image.tiny %>
  </td>
  <td>
    <h4><%= product.name %></h4>
    <br>
    <p><%= product.description %></p>
  </td>
  <td>
<<<<<<< HEAD
    <%= product.price %>
=======
    <%= humanized_money_with_symbol product.price %>
>>>>>>> feature/order-details
  </td>
    <td>
    <%= quantity %>
  </td>
  <td>
<<<<<<< HEAD
    <%= product.price * quantity %>
=======
    <%= humanized_money_with_symbol product.price * quantity %>
>>>>>>> feature/order-details
  </td>
</tr>
